.sidebar-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  .sidebar-layout {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
  }
}

.menu {
  height: 190px;
}

.grid-slide {
  overflow: hidden;
  height: 13vw;
}

.slide-list {
  overflow-y: auto;
  height: calc(100vh - 190px);
}

.presentation-slide {
  overflow: hidden;
  height: 140px;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.tui-editor-defaultUI {
  border: 0px solid !important
}
