.menu {
  height: 20vh;
}

.slide-list {
  overflow-y: auto;
  height: 80vh;
}

.slide {
  overflow: hidden;
  height: 15vh;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.tui-editor-defaultUI {
  border: 0px solid !important
}
