@import "~bulma/sass/utilities/_all";
@import '~bulma/sass/utilities/initial-variables';
@import "~bulma/sass/utilities/functions";

$primary: #222831;
$secondary: #393e46;
$blue: #12c9ff;
$red: #D11A2A;
$white: #ffffff;

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "primary": ($primary, $primary),
    "secondary": ($secondary, $secondary),
    "blue": ($blue, $blue),
    "red": ($red, $red)
);

@import "~bulma";
@import "~buefy/src/scss/buefy";
