@import "~bulma/sass/utilities/_all";
@import '~bulma/sass/utilities/initial-variables';
@import "~bulma/sass/utilities/functions";

$primary: #2b2b3c;
$secondary: #f3f3f3;
$blue: #12c9ff;
$red: #D11A2A;
$white: #ffffff;
$gray: #84848e;

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "primary": ($primary, $secondary),
    "secondary": ($secondary, $primary),
    "blue": ($blue, $blue),
    "red": ($red, $red),
    "gray": ($gray, $gray)
);

@import "~bulma";
@import "~buefy/src/scss/buefy";
